<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096240811606-jgp55rgtgq804sa5d95j5oo8v6tv3qia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096240811606-jgp55rgtgq804sa5d95j5oo8v6tv3qia</string>
	<key>API_KEY</key>
	<string>AIzaSyArnu33uarvM7LH94UrqhJh2kLGIpDWrnI</string>
	<key>GCM_SENDER_ID</key>
	<string>1096240811606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaron.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-517eb</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-517eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096240811606:ios:c563e9f8bad24f44d6b5f7</string>
</dict>
</plist>